@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css2?family=Bangers&display=swap);@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap);@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

@keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.page {
  padding: 0 10rem 0 10rem;
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.navbar {
  background-color: #1b1b1e !important;
  padding: 0.1rem 1rem;
}

.navbar a {
  color: #d8dbe2 !important;
}

.navbar .navbar-brand {
  font-family: "Bangers", cursive;
  font-size: 2.4rem;
}

.button_glow {
  color: #373f51 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 0.4rem 1rem;
  border: 3px solid #373f51 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.button_glow:hover {
  color: #ffffff !important;
  background: #373f51;
  border-color: #373f51 !important;
  transition: all 0.4s ease 0s;
}

.loginreg-heading {
  font-family: "Bangers", cursive;
  font-size: 2.6rem;
  margin-bottom: 2.4rem;
}

.profile-picture {
  border-radius: 50%;
}

.profile-links {
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
}

.profile-links:hover {
  color: teal;
}

.profile-icon {
  font-size: 1.4rem;
}

.navbar .dropdown .dropdown-menu a {
  color: black !important;
}

.nav-tabs {
  border: none !important;
}

.nav-tabs .nav-link {
  border: none !important;
}

.nav-tabs .nav-link.active {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.nav-tabs .nav-link.active::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
}

.sidebar .nav-link {
  color: #fff !important;
  padding: 0.5rem, 1rem;
  font-weight: 600;
}

.sidebar-sticky {
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.page-heading {
  font-weight: 600;
  margin-top: 2rem;
}

.img-circle {
  border-radius: 100%;
}

.free_edit_sidebar {
  padding-top: 1rem;
}

.free_edit_sidebar .nav-link {
  text-decoration: none;
  color: #adb5bd;
  font-size: 0.9rem;
  padding: 0.8rem 0 0.8rem 0;
}

.free_edit_sidebar .active {
  color: #343a40;
}

